<div nz-row class="login-card">
  <div class="formFieldWrap" nz-col nzSpan="24">
    <div>
      <div class="login-card-header">
        <h1 class="login-card-header-text">LOGIN</h1>
      </div>
      <div>
        <div class="loginForm">
          <div class="loginHeader" *ngIf="view === false"></div>
          <p class="loginHeader" *ngIf="view === true">
            {{ 'Reset Password' }}
          </p>
          <form nz-form [formGroup]="form" (ngSubmit)="login()" role="form" *ngIf="view == false">
            <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" nzCloseable class="mb-lg"></nz-alert>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please Enter an email">
                <nz-input-group nzSize="large" nzPrefixIcon="user">
                  <input nz-input formControlName="mail" placeholder="Enter your email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please Enter password">
                <nz-input-group nzSize="large" nzPrefixIcon="lock">
                  <input nz-input type="password" formControlName="password" placeholder="Enter your password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-col [nzSpan]="12">
                <label nz-checkbox formControlName="remember">Remember me</label>
              </nz-col>
              <nz-col [nzSpan]="12" class="text-right">
                <a class="forgot" (click)="forgotPassword()">Forgot your password?</a>
              </nz-col>
            </nz-form-item>
            <nz-form-item>
              <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>Login</button>
            </nz-form-item>
          </form>

          <form nz-form [formGroup]="form" (ngSubmit)="forgot()" role="form" *ngIf="view == true">
            <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" nzCloseable class="mb-lg"></nz-alert>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please enter Email ">
                <nz-input-group nzSize="large" nzPrefixIcon="user">
                  <input class="ant-input" nz-input formControlName="mail" placeholder="mail" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" [disabled]="loading" nzBlock>
                Submit</button
              ><br />
              <div class="action_footer text-center">
                <a class="login" (click)="forgotPassword()">{{ 'Login' }}</a>
              </div>
            </nz-form-item>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
