<div class="alain-default__content-title" style="margin-top: -26px">
  <h1>
    Promotions
    <small>Create, edit, add Promotions</small>
  </h1>
</div>

<!-- ADD & EDIT MODAL -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleModalCancel()"
>
  <ng-template #modalTitle>
    {{ isAddorEdit == false ? 'Add a Promotion' : 'Edit Promo' }}
  </ng-template>

  <!-- CRUD ACTIONS -->
  <ng-template #modalContent>
    <nz-row>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control nzErrorTip="Input is required">
            <nz-form-label nzFor="PromoID">Promo Name</nz-form-label>
            <input nz-input [(ngModel)]="createpromo.name" name="promo_name" placeholder="Promo Name" id="promo_name" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Input is required">
            <nz-form-label nzFor="PromoID">Promo Description</nz-form-label>
            <textarea
              nz-input
              [(ngModel)]="createpromo.description"
              name="promo_description"
              placeholder="Promo Description"
              id="promo_description"
              required
            ></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Input is required">
            <nz-form-label nzFor="PromoID">Promo Active State</nz-form-label>
            <label
              nz-checkbox
              [nzTooltipTitle]="'Select a promo active state'"
              [nzTooltipColor]="'#cc3539'"
              [(ngModel)]="createpromo.ativeStatus"
              >{{ createpromo.ativeStatus ? 'ACTIVE' : 'INACTIVE' }}</label
            >
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Input is required">
            <nz-form-label nzFor="PromoID">Promo Winner Message</nz-form-label>
            <textarea
              nz-input
              [(ngModel)]="createpromo.win_message"
              name="win_message"
              placeholder="Promo Message"
              id="win_message"
              required
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleModalCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="addPromo()" [nzLoading]="loading" *ngIf="isAddorEdit == false">Add</button>
    <button nz-button nzType="primary" (click)="updatePromo()" [nzLoading]="loading" *ngIf="isAddorEdit == true">Update</button>
  </ng-template>
</nz-modal>

<!-- VIEW MODAL -->

<nz-modal
  [(nzVisible)]="isviewmodalVisible"
  [nzTitle]="viewmodalTitle"
  [nzContent]="viewmodalContent"
  [nzFooter]="viewmodalFooter"
  (nzOnCancel)="handleModalCancel()"
>
  <ng-template #viewmodalTitle> View Promo </ng-template>

  <!-- CRUD ACTIONS -->
  <ng-template #viewmodalContent>
    <nz-row>
      <nz-col nzSpan="24" *ngIf="isAddorEdit == false">
        <nz-form-item>
          <nz-form-control nzErrorTip="Input is required">
            <nz-form-label nzFor="PromoID">Promo Name</nz-form-label>
            <input nz-input [(ngModel)]="createpromo.name" name="view_promo_name" placeholder="Promo ID" id="view_promo_name" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Input is required">
            <nz-form-label nzFor="PromoID">Promo Description</nz-form-label>
            <textarea
              nz-input
              [(ngModel)]="createpromo.description"
              name="view_promo_description"
              placeholder="Promo ID"
              id="view_promo_description"
              required
            ></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Input is required">
            <nz-form-label nzFor="PromoID">Promo Active State</nz-form-label>
            <label
              nz-checkbox
              [nzTooltipTitle]="'Select a promo active state'"
              [nzTooltipColor]="'#cc3539'"
              [(ngModel)]="createpromo.ativeStatus"
              >{{ createpromo.active ? 'ACTIVE' : 'INACTIVE' }}</label
            >
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Input is required">
            <nz-form-label nzFor="PromoID">Promo Winner Message</nz-form-label>
            <textarea
              nz-input
              [(ngModel)]="createpromo.win_message"
              name="view_win_message"
              placeholder="Promo Message"
              id="view_win_message"
              required
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </ng-template>
  <ng-template #viewmodalFooter>
    <button nz-button nzType="default" (click)="handleModalCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="addPromo()" [nzLoading]="loading" *ngIf="isAddorEdit == false">Add</button>
    <button nz-button nzType="primary" (click)="updatePromo()" [nzLoading]="loading" *ngIf="isAddorEdit == true">Update</button>
  </ng-template>
</nz-modal>

<div class="container">
  <nz-card [nzBordered]="false">
    <div class="card text-left">
      <button nz-button [nzLoading]="btnaddloading" (click)="add()" [nzType]="'default'">
        <i nz-icon nzType="plus"></i>
        <span>Create Promo</span>
      </button>
      <button nz-button [nzLoading]="btneditloading" (click)="editPromo()" [nzType]="'default'">
        <i nz-icon nzType="edit"></i>
        <span>Edit Promo</span>
      </button>
      <ng-template #iconTpl>
        <i nz-icon nzType="question-circle-o" style="color: red"></i>
      </ng-template>
      <button
        nz-popconfirm
        nzPopconfirmTitle="Are you sure you want to DELETE this Promo?"
        [nzLoading]="btndeleteloading"
        [nzIcon]="iconTpl"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="deletePromo()"
        (nzOnCancel)="handleModalCancel()"
        style="padding-right: 5px"
        nz-button
        nzDanger
      >
        <i nz-icon nzType="delete"></i>
        <span>Delete Promo</span>
      </button>
    </div>
  </nz-card>

  <nz-table #deviceTable [nzData]="promoData" [nzLoading]="loading" [nzShowPagination]="true" [nzBordered]="true" [nzFooter]="pagination">
    <ng-template #pagination>
      <div class="text-right">
        <nz-pagination
          [nzPageIndex]="current_page"
          [nzTotal]="total"
          [nzItemRender]="renderItemTemplate"
          [nzShowTotal]="rangeTemplate"
        ></nz-pagination>
        <ng-template #renderItemTemplate let-type let-page="page">
          <ng-container [ngSwitch]="type">
            <a *ngSwitchCase="'page'" (click)="next(page)">{{ page }}</a>
            <a *ngSwitchCase="'next'" (click)="next(current_page + 1)"><strong *ngIf="nextPage">Next</strong></a>
            <a *ngSwitchCase="'prev_5'"> << </a>
            <a *ngSwitchCase="'next_5'">>></a>
          </ng-container>
        </ng-template>
        <ng-template #rangeTemplate let-total> {{ from }}-{{ to }} of {{ total }} items </ng-template>
      </div>
    </ng-template>
    <thead>
      <tr>
        <th
          [nzSelections]="promoSelection"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>Promo Name</th>
        <th>Description</th>
        <th>Active Status</th>
        <th>win_message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of deviceTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>
          <i nz-icon nzType="check-square" nzTheme="outline" *ngIf="data.active"></i>
          <i nz-icon nzType="border" nzTheme="outline" *ngIf="!data.active"></i>
        </td>
        <td>{{ data.win_message }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
