<div class="alain-default__content-title" style="margin-top: -26px">
  <h1>
    Lots
    <small>Create, edit, add a Lot</small>
  </h1>
</div>

<!-- ADD & EDIT MODAL -->
<nz-modal
  [(nzVisible)]="isaddeditmodalVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleaddeditModalCancel()"
>
  <ng-template #modalTitle>
    {{ isAddorEdit ? 'Add Lots' : 'Edit Lots' }}
  </ng-template>

  <!-- CRUD ACTIONS -->
  <ng-template #modalContent>
    <nz-row>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="lotName">Enter Lot Name</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input nz-input [(ngModel)]="createLot.title" name="lotAmount" placeholder="Enter a lot name" id="lotName" required />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="lotid">Enter amount</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    type="number"
                    nz-input
                    [(ngModel)]="createLot.amount"
                    name="lotAmount"
                    placeholder="Amount of lot to be created"
                    id="lotAmount"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleaddeditModalCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="addLot()" [nzLoading]="loading" *ngIf="isAddorEdit">Add</button>
    <button nz-button nzType="primary" (click)="updateDevice()" [nzLoading]="loading" *ngIf="!isAddorEdit">Update</button>
  </ng-template>
</nz-modal>

<!-- MARK AS PRINTED AND EXPORT MODAL -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalPrinted_PrintedTitle"
  [nzContent]="modalPrinted_PrintedContent"
  [nzFooter]="modalPrinted_ExportFooter"
  (nzOnCancel)="handleModalCancel()"
>
  <ng-template #modalPrinted_PrintedTitle>
    {{ isPrintedorExport ? 'Export' : 'Mark As Printed' }}
  </ng-template>

  <!-- CRUD ACTIONS -->
  <ng-template #modalPrinted_PrintedContent>
    <nz-row>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Input is required">
            <nz-form-label nzFor="markidFrom">From Lot</nz-form-label>
            <nz-input-group nzPrefix="SN">
              <input nz-input [(ngModel)]="range.from" name="from" placeholder="Input Lot starting point" id="from" required />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Input is required">
            <nz-form-label nzFor="markidTo">To Lot</nz-form-label>
            <nz-input-group nzPrefix="SN">
              <input nz-input type="number" [(ngModel)]="range.to" name="from" placeholder="Input lot ending point" id="from" required />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </ng-template>

  <ng-template #modalPrinted_ExportFooter>
    <button nz-button nzType="default" (click)="handleModalCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="markLotPrinted()" [nzLoading]="loading" *ngIf="isPrintedorExport == false">Mark</button>
    <!-- <button nz-button nzType="primary" (click)="lotExporting()" [nzLoading]="loading" *ngIf="isPrintedorExport == true">Export</button> -->
  </ng-template>
</nz-modal>
<div class="container">
  <nz-card [nzBordered]="false">
    <div class="card text-left">
      <button nz-button (click)="add()" [nzType]="'default'">
        <i nz-icon nzType="plus"></i>
        <span>Create Lot</span>
      </button>
      <ng-template #iconTpl>
        <i nz-icon nzType="question-circle-o" style="color: red"></i>
      </ng-template>
      <button nz-button (click)="exportLot()" [nzLoading]="loading" [nzType]="'secondary'">
        <i nz-icon nzType="download"></i>
        <span>Export Lot</span>
      </button>
      <button nz-button (click)="markPrinted()">
        <i nz-icon nzType="printer"></i>
        <span>Mark As Printed</span>
      </button>
      <button
        nz-popconfirm
        nzPopconfirmTitle="Are you sure you want to DELETE this Device?"
        [nzIcon]="iconTpl"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="deleteLot()"
        (nzOnCancel)="handleModalCancel()"
        style="padding-right: 5px"
        nz-button
        nzDanger
      >
        <i nz-icon nzType="delete"></i>
        <span>Delete Lot</span>
      </button>
      <label
        nz-checkbox
        [(ngModel)]="printedLot"
        (ngModelChange)="checkPrinted()"
        [nzIndeterminate]="indeterminate"
        style="padding-left: 20px"
      >
        Printed Lot
      </label>
    </div>
  </nz-card>

  <nz-table
    #lotTable
    [nzData]="lotData"
    [nzPageSize]="15"
    [nzLoading]="loading"
    [nzShowPagination]="false"
    [nzBordered]="true"
    [nzFooter]="pagination"
  >
    <ng-template #pagination>
      <div class="text-right">
        <nz-pagination
          [nzPageIndex]="current_page"
          [nzTotal]="total"
          [nzPageSize]="15"
          [nzItemRender]="renderItemTemplate"
          [nzShowTotal]="rangeTemplate"
        ></nz-pagination>
        <ng-template #renderItemTemplate let-type let-page="page">
          <ng-container [ngSwitch]="type">
            <a *ngSwitchCase="'page'" (click)="next(page)">{{ page }}</a>
            <a *ngSwitchCase="'next'" (click)="next(current_page + 1)"><strong *ngIf="nextPage">Next</strong></a>
            <a *ngSwitchCase="'prev_5'"> << </a>
            <a *ngSwitchCase="'next_5'">>></a>
          </ng-container>
        </ng-template>
        <ng-template #rangeTemplate let-total> {{ from }}-{{ to }} of {{ total }} items </ng-template>
      </div>
    </ng-template>
    <thead>
      <tr>
        <th nzWidth="60px">
          <a
            ><i
              style="font-size: 20px"
              nz-icon
              nz-tooltip
              nzTooltipPlacement="top"
              [nzTooltipTitle]="'Click plus icon to view Lot Activities'"
              nzType="container"
              nzTheme="outline"
            ></i
          ></a>
        </th>
        <th
          nzWidth="60px"
          [nzSelections]="lotSelection"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>Lot Title</th>
        <th>Printed Status</th>
        <th>Total Lot Items</th>
        <th>Lot Range</th>
        <th>Created Date</th>
        <th>Updated Date</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of lotTable.data">
        <tr>
          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.title }}</td>
          <td>
            <i nz-icon nzType="check-square" nzTheme="outline" *ngIf="data.printed"></i>
            <i nz-icon nzType="border" nzTheme="outline" *ngIf="!data.printed"></i>
          </td>
          <td>{{ data.items }}</td>
          <td>From Lot: {{ data.items_range.min_item_id }} - To Lot: {{ data.items_range.max_item_id }}</td>
          <td>{{ data.created_at | date: 'medium' }}</td>
          <td>{{ data.updated_at | date: 'medium' }}</td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.id)" class="expanded-cell-table">
          <h3 class="table-history">LOT DETAILS</h3>
          <br />
          <nz-table
            #innertable
            [nzBordered]="true"
            [nzShowPagination]="false"
            class="innerTable"
            [nzData]="lotItems"
            [nzPageSize]="15"
            [nzFooter]="pagination_logs"
          >
            <ng-template #pagination_logs>
              <div class="text-right">
                <nz-pagination
                  [nzPageIndex]="current_page_log"
                  [nzTotal]="total_log"
                  [nzPageSize]="15"
                  [nzItemRender]="renderItemTemplate"
                  [nzShowTotal]="rangeTemplate"
                ></nz-pagination>
                <ng-template #renderItemTemplate let-type let-page="page">
                  <ng-container [ngSwitch]="type">
                    <a *ngSwitchCase="'page'" (click)="next_log(page, data.id)">{{ page }}</a>
                    <!-- <a *ngSwitchCase="'next'" (click)="next_log(current_page_log + 1)"><strong *ngIf="nextPage_log">Next</strong></a> -->
                    <a *ngSwitchCase="'prev_5'"> << </a>
                    <a *ngSwitchCase="'next_5'">>></a>
                  </ng-container>
                </ng-template>
                <ng-template #rangeTemplate let-total> {{ from_log }}-{{ to_log }} of {{ total_log }} items </ng-template>
              </div>
            </ng-template>
            <thead>
              <tr>
                <th>Lot Id</th>
                <th>Used Status</th>
                <th>Print Code</th>
                <th>Serial Number</th>

                <th>Created Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of innertable.data">
                <td>{{ data.id }}</td>
                <td>
                  <i nz-icon nzType="check-square" nzTheme="outline" *ngIf="data.used"></i>
                  <i nz-icon nzType="border" nzTheme="outline" *ngIf="!data.used"></i>
                </td>
                <td>{{ data.print_code }}</td>
                <td>{{ data.serial_number }}</td>

                <td>{{ data.created_at | date: 'short' }}</td>
              </tr>
            </tbody>
          </nz-table>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
