<div class="alain-default__content-title" style="margin-top: -26px">
  <h1>
    Products
    <small>Create, edit, add a Product</small>
  </h1>
</div>

<!-- ADD & EDIT MODAL -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleModalCancel()"
>
  <ng-template #modalTitle>
    {{ isAddorEdit == false ? 'Add Product' : 'Edit Product' }}
  </ng-template>

  <!-- CRUD ACTIONS -->
  <ng-template #modalContent>
    <nz-row>
      <nz-col nzSpan="24" *ngIf="isAddorEdit == true">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="productID">Product ID</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input nz-input [(ngModel)]="createProduct.id" name="product_id" placeholder="Product ID" id="product_id" required />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="sku">Product Sku</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input nz-input [(ngModel)]="createProduct.sku" name="sku" placeholder="Enter Product SKU" id="sku" required />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="product_title">Enter Title</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.title"
                    name="product_title"
                    placeholder="Enter product Title"
                    id="product_title"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="product_description">Description</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.description"
                    name="product_description"
                    placeholder="Enter Product Description"
                    id="product_description"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="product_video">Enter Video Link</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.video"
                    name="product_video"
                    placeholder="Enter video link"
                    id="product_video"
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="product_weight">Product Weight</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.weight"
                    name="product_weight"
                    placeholder="Amount product weight"
                    id="product_weight"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="product_manufacturer">Manufacturer</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.manufacturer"
                    name="product_manufacturer"
                    placeholder="Amount of lot to be created"
                    id="product_manufacturer"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="product_image">Product Image</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    type="file"
                    nz-input
                    [(ngModel)]="createProduct.image"
                    name="product_image"
                    accept="image/*"
                    (change)="processProductImage($event)"
                    placeholder="Amount of lot to be created"
                    id="product_image"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleModalCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="addProduct()" [nzLoading]="loading" *ngIf="isAddorEdit == false">Add</button>
    <button nz-button nzType="primary" (click)="updateProduct()" [nzLoading]="loading" *ngIf="isAddorEdit == true">Update</button>
  </ng-template>
</nz-modal>

<!-- VIEW MODAL -->
<nz-modal
  [(nzVisible)]="isviewmodalVisible"
  [nzTitle]="modalviewTitle"
  [nzContent]="modalviewContent"
  [nzFooter]="modalviewFooter"
  (nzOnCancel)="handleviewModalCancel()"
>
  <ng-template #modalviewTitle> View Product </ng-template>

  <!-- CRUD ACTIONS -->
  <ng-template #modalviewContent>
    <nz-row>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="view_productID">Product ID</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.id"
                    name="view_productID"
                    placeholder="Product ID"
                    id="view_productID"
                    [disabled]="true"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="view_product_sku">Product Sku</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.sku"
                    name="view_product_sku"
                    placeholder="Enter Product SKU"
                    id="view_product_sku"
                    [disabled]="true"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="view_product_title">Enter Title</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.title"
                    name="view_product_title"
                    placeholder="Enter product Title"
                    id="view_product_title"
                    [disabled]="true"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="view_product_description">Description</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.description"
                    name="view_product_description"
                    placeholder="Enter Product Description"
                    id="view_product_description"
                    [disabled]="true"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="view_product_video">Enter Video Link</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.video"
                    name="view_product_video"
                    placeholder="Enter video link"
                    id="view_product_video"
                    [disabled]="true"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="view_product_weight">Product Weight</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.weight"
                    name="view_product_weight"
                    placeholder="Amount product weight"
                    id="view_product_weight"
                    [disabled]="true"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="view_product_manufacturer">Manufacturer</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    nz-input
                    [(ngModel)]="createProduct.manufacturer"
                    name="view_product_manufacturer"
                    placeholder="Amount of lot to be created"
                    id="view_product_manufacturer"
                    [disabled]="true"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control>
            <nz-row>
              <nz-col nzSpan="6">
                <nz-form-label nzFor="view_product_image">Product Image</nz-form-label>
              </nz-col>
              <nz-col nzSpan="18">
                <nz-form-control nzErrorTip="Input is required">
                  <input
                    type="file"
                    nz-input
                    [(ngModel)]="createProduct.image"
                    name="view_product_image"
                    placeholder="Amount of lot to be created"
                    id="view_product_image"
                    [disabled]="true"
                    required
                  />
                </nz-form-control>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="24" style="display: flex; align-items: center">
        <img nz-image width="20%" [src]="createProduct.image_urls.original_image_url" [alt]="createProduct.manufacturer" />
      </nz-col>
    </nz-row>
  </ng-template>
  <ng-template #modalviewFooter>
    <button nz-button nzType="default" (click)="handleviewModalCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="addProduct()" [nzLoading]="loading" *ngIf="isAddorEdit == false">Add</button>
    <button nz-button nzType="primary" (click)="editProduct()" [nzLoading]="loading" *ngIf="isAddorEdit == true">Update</button>
  </ng-template>
</nz-modal>

<div class="container">
  <nz-card [nzBordered]="false">
    <div class="card text-left">
      <button nz-button [nzLoading]="btnaddloading" (click)="add()" [nzType]="'default'">
        <i nz-icon nzType="plus"></i>
        <span>Create Product</span>
      </button>
      <button nz-button [nzLoading]="btnviewloading" (click)="viewProduct()" [nzType]="'default'">
        <i nz-icon nzType="eye"></i>
        <span>View Product</span>
      </button>
      <button nz-button [nzLoading]="btneditloading" (click)="editProduct()" [nzType]="'default'">
        <i nz-icon nzType="edit"></i>
        <span>Edit Product</span>
      </button>
      <ng-template #iconTpl>
        <i nz-icon nzType="question-circle-o" style="color: red"></i>
      </ng-template>
      <button
        nz-popconfirm
        nzPopconfirmTitle="Are you sure you want to DELETE this Product?"
        [nzLoading]="btndeleteloading"
        [nzIcon]="iconTpl"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="deleteProduct()"
        (nzOnCancel)="handleModalCancel()"
        style="padding-right: 5px"
        nz-button
        nzDanger
      >
        <i nz-icon nzType="delete"></i>
        <span>Delete Product</span>
      </button>
    </div>
  </nz-card>

  <nz-table #deviceTable [nzData]="productData" [nzLoading]="loading" [nzShowPagination]="true" [nzBordered]="true" [nzFooter]="pagination">
    <ng-template #pagination>
      <div class="text-right">
        <nz-pagination
          [nzPageIndex]="current_page"
          [nzTotal]="total"
          [nzItemRender]="renderItemTemplate"
          [nzShowTotal]="rangeTemplate"
        ></nz-pagination>
        <ng-template #renderItemTemplate let-type let-page="page">
          <ng-container [ngSwitch]="type">
            <a *ngSwitchCase="'page'" (click)="next(page)">{{ page }}</a>
            <a *ngSwitchCase="'next'" (click)="next(current_page + 1)"><strong *ngIf="nextPage">Next</strong></a>
            <a *ngSwitchCase="'prev_5'"> << </a>
            <a *ngSwitchCase="'next_5'">>></a>
          </ng-container>
        </ng-template>
        <ng-template #rangeTemplate let-total> {{ from }}-{{ to }} of {{ total }} items </ng-template>
      </div>
    </ng-template>
    <thead>
      <tr>
        <th
          [nzSelections]="productSelection"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>SKU</th>
        <th>Title</th>
        <th>Description</th>
        <th>Manufacturer</th>
        <th>Weight</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of deviceTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{ data.sku }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.manufacturer }}</td>
        <td>{{ data.weight }}</td>
        <td>{{ data.created_at | date: 'medium' }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
