/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
.alain-default__header {
  background: #fff !important;
}
.iconPrimary {
  color: #222 !important;
}

.alain-default .page-header {
  margin: 10px;
  margin-right: -14px;
  margin-left: -15px;
  padding: 12px 0 0 24px;
  background: #fff;
  border-bottom: 1px solid #efe3e5;
}

.alain-default .page-header .page-header_title {
  color: #222 !important;
}

.alain-default__fixed .alain-default__content {
  margin-top: 90px;
}

.alain-default__nav-item,
.alain-default__nav nz-badge {
  color: #222 !important //  !important;
}

.ant-btn-primary {
  color: #fff;
  background: #222 !important;
  border-color: #222 !important;
}
.ant-btn-secondary {
  color: #fff;
  background: #5bc0de !important;
  border-color: #5bc0de !important;
}

.alain-default__nav-item,
.alain-default__nav nz-badge:hover {
  color: #222 !important;
}

.bg-primary {
  color: #222 !important;
  background: #222 !important;
}

.charts {
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

.device_status {
  font-size: 25px !important;
}

.tampered {
  color: red;
}

.ant-upload.ant-upload-drag .ant-upload-btn {
  background: #e9fdff;
  box-shadow: 1px 1px #222;
}

.content {
  flex: 1;
}

.content p {
  margin-bottom: 1em;
}

.content-link a {
  margin-right: 16px;
}

.content-link a img {
  margin-right: 8px;
}

.content-image {
  display: flex;
  align-items: center;
  margin: 0 0 0 60px;
}

.content-image img {
  width: 100%;
}

.site-page-header {
  padding: 10px 10px 10px 10px;
  background: #e9d772;
  border: 1px solid #e9d772 !important;
  border-radius: 5px;
  box-shadow: 1px 1px #aa995a;
}

@media (max-width: 768px) {
  .content-image {
    flex: 100%;
    margin: 24px 0 0;
  }
}

.alain-default__header {
  // padding: 45px 120px 45px 75px;
  background: linear-gradient(#222, #222) !important; //#E9D772 !important;
}

.alain-default__nav-item,
.alain-default__nav nz-badge:hover {
  color: #fff !important;
}

.ant-alert-message {
  font-size: 18px !important;
}

.nav_item_menu {
  padding: 10px 20px 10px;
  color: #fff;
}

.nav_item_menu :hover {
  color: #fcbf49;
}

@media screen and (max-width: @screen-xl) and (min-width: @screen-lg) {
  .layout-grid {
    padding: 5px 5px 5px 5px !important;
  }
}

@media screen and (max-width: @screen-lg) {
  .layout-grid {
    padding: 5px 5px 5px 5px !important;
  }
}

@media screen and (max-width: @screen-md) {
  .layout-grid {
    padding: 80px 120px 5px 120px;
  }
}

@media (min-width: 768px) {
  .layout-grid {
    padding: 80px 120px 5px 120px;
  }
}

@media screen and (max-width: @screen-sm) {
  .layout-grid {
    padding: 0 !important;
  }
  .footer {
    padding: 20px !important;
  }
}

@media screen and (max-width: @screen-xs) {
  .layout-grid {
    padding: 0 !important;
  }
  .footer {
    padding: 20px !important;
  }
}
