<div class="contact-wrapper">
  <div class="contact-header-wrapper">
    <h2 class="contact-header-text">CONTACT <span class="contact-header-text-glow">US</span></h2>
    <p class="contact-sub-text">We’re here to help and answer any question you might have. We look forward to hearing from you</p>
  </div>
  <div class="contact-content">
    <a href="mailto:youremail@youremail.com"><button nz-button nzType="primary" nzSize="large">Send an Email</button></a>
    <a href="tel:+234058112223"><button nz-button nzType="default" nzSize="large">Give Us a Call</button></a>
  </div>
</div>
<hr />
<app-footer></app-footer>
