@import '~@delon/theme/index';
:host {
  display: block;
  margin: 0 auto;
  ::ng-deep {
    .about-wrapper {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      margin: 48px 0px;
      .about-header-wrapper {
        width: 40%;
        text-align: center;
        margin: auto;
        .about-header-text {
          font-size: 40px;
          margin-bottom: 0px;
        }
        .about-header-text-glow {
          color: #e1ba59;
        }
        .about-sub-text {
          color: #340a0d;
          line-height: 18px;
          letter-spacing: 0.01em;
        }
      }
      .about-content {
        width: 100%;
        display: flex;
        .about-img-container {
          width: 50%;
          .about-image {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 48px 0px;
          }
        }
        .about-text-container {
          width: 50%;
          margin: 48px 0px;
          padding: 48px 0px;
          .about-text-header {
            margin-bottom: 0px;
            color: #340a0d;
          }
          .about-text-divider {
            width: 50%;
            text-align: left;
            border: 1px solid #e1ba59;
            margin: 16px 0px;
          }
          .about-text {
            text-align: justify;
            margin-bottom: 0px;
            color: #828282;
          }
        }
      }
    }
    @media only screen and (max-width: 600px) {
    }
  }
}
