<div class="about-wrapper">
  <div class="about-header-wrapper">
    <h2 class="about-header-text">ABOUT <span class="about-header-text-glow">US</span></h2>
    <p class="about-sub-text">consectetur adipiscing elit. Phasellus maximus consectetur imperdiet. Phasellus ac quam elit</p>
  </div>
  <div class="about-content">
    <div class="about-img-container">
      <div class="about-image">
        <img src="./assets/aboutimg.png" alt="" />
      </div>
    </div>
    <div class="about-text-container">
      <h2 class="about-text-header">Who Are We ?</h2>
      <div class="about-text-divider"></div>
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus maximus consectetur imperdiet. Phasellus ac quam elit. Morbi erat
        nisi, scelerisque eu pulvinar vitae, gravida vitae velit. Aliquam faucibus eros non viverra convallis. Vivamus eget accumsan purus.
        In rutrum viverra efficitur. Morbi sit amet tortor finibus, porta dolor a, tristique purus. Nam ut maximus nunc, consequat viverra
        dui. Pellentesque et diam dolor. Mauris nec viverra ipsum. Cras id ultricies purus, in vestibulum enim. Mauris cursus consequat mi
        nec cursus. <br /><br />

        Curabitur velit enim, fringilla vel vehicula eget, pretium sit amet elit. Nunc lacinia, massa vitae lobortis accumsan, est eros
        vulputate ipsum, sed varius nulla massa eu leo. Ut eu rutrum orci. Aenean vitae sem mollis, commodo leo a, aliquet libero. Curabitur
        sit amet accumsan lacus, eget eleifend diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisl purus, tempus et
        dui a, placerat semper sem. Curabitur commodo, ex at maximus congue, risus nulla posuere elit, a porta ante ex id ante. <br />
      </p>
    </div>
  </div>
</div>
