<div class="hero-wrapper">
  <div class="hero-container">
    <app-header></app-header>
    <div class="hero-content-wrapper">
      <div class="hero-content-container">
        <div>
          <h2 class="hero-header-text">
            <span class="hero-header-text-glow">Nominate</span> and <span class="hero-header-text-glow">Vote</span> your business of Choice
          </h2>
          <p class="hero-sub-text">
            Do you know you can vote and nominate your business of choice ? Also, for you to be able to confirm your nomination kindly
            checkvyour mail and confirm your nomination
          </p>
        </div>
        <div>
          <button nz-button nzType="primary" nzSize="large">Nominate a Business</button>
          <button nz-button nzType="default" nzSize="large">How it works</button>
        </div>
      </div>
    </div>
  </div>
</div>
