<nav class="header-container">
  <a class="toggle-nav" href="#">&#9776;</a>
  <ul class="menu">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" fragment="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item"><a class="nav-link" routerLink="/about" fragment="about" routerLinkActive="active">About</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/guidelines" fragment="guidelines" routerLinkActive="active">Guidelines</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/judges" fragment="judges" routerLinkActive="active">Judges</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/contact" fragment="contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
